@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Park your cars!!!
        <br><br />
        <img src="~/images/LAUREN GIF.gif" alt="GIF Description" width="200">
        <br><br />
        You have arrived at THE LIST
        
    </h1>
    <p>Feel free to click on films and see what me and the mrs are watching.</p>
</div>
