@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello friends. Welcome to THE LIST.</h1>
    <p>Feel free to click on films and see what me and the mrs are watching.</p>
</div>
